.pokemons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.pokemons-search {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 400px;
}

.pokemons-search input[type="text"] {
    height: 50px;
    margin: 0 0 10px 0;
    padding: 10px 0 0 0;
    border: none;
    border-bottom: thin solid rgba(0, 0, 0, .5);
    font-size: 1.2rem;
    background-color: transparent;
    text-transform: lowercase;
    color: #2a75bb;
}

input[type="text"]:focus {
    outline: none;
}

label {
    position: absolute;
    margin-top: 20px;
    margin-left: 0;
    opacity: .5;
    font-size: 1rem;
    transition: .2s all;
}

input:focus,
input:not(:placeholder-shown) {
    border-bottom: 1px solid #2a75bb !important;
}

input:focus+label,
input:not(:placeholder-shown)+label {
    margin-top: -2px;
    font-size: .8rem;
    transition: .2s all;
    color: #2a75bb;
    opacity: 1;
    font-weight: bold;
}

.btn-search {
    height: 50px;
    padding: 15px 50px;
    border: thin solid rgba(0, 0, 0, .5);
    border-radius: 8px;
    background-color: #2a75bb;
    color: #ffcb05;
    font-weight: bolder;
    cursor: pointer;
}

.btn-search:disabled {
    border: none;
    background-color: rgba(0, 0, 0, .2);
    color: rgba(0, 0, 0, .3);
    cursor: auto;
}

.btn-search:disabled:hover {
    background-color: rgba(0, 0, 0, .2);
}

.btn-search:hover {
    transition: .2s;
    background-color: rgba(42, 117, 187, .8);
}

.pokemons-result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
    perspective: 1000px;
    background-color: transparent;
    z-index: 1;
}

@media only screen and (max-width: 600px) {
    .pokemons {
        flex-direction: column;
    }

    .pokemons-search {
        margin-bottom: 20px;
        max-height: 100px;
    }

    .btn-search {
        font-size: .750rem;
    }

    .pokemons-result {
        max-height: 400px;
    }
}

@media only screen and (min-width: 600px) {
    .pokemons-search {
        margin-right: 20px;
        max-width: 300px;
    }

    .pokemons-result {
        max-width: 280px;
    }        
}
