.pokeball {
    display: flex;
    align-items: center;
    animation-name: spinningBall;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes spinningBall {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    };
}