header {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border-bottom: 10px solid #000;
    background-color: red;
}

.logo {
    display: flex;
}

@media only screen and (max-width: 600px) {

    .logo > img {
        width: 150px;
    }
}